<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <title>账号管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="omtech.cn">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="/public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="/public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="融媒e管家">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="/public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">

    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='https://g.omtech.cn/ie.html'"/>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="https://g.omtech.cn/??media-match/v2.0.2/media.match.js,respond/v1.4.2/respond.js"></script>
    <![endif]-->

    <!-- bt：样式 -->
    <link rel="stylesheet" href="https://g.omtech.cn/bootstrap/admui/css/bootstrap.css">
    <link rel="stylesheet" href="https://g.omtech.cn/admui/v1.1.0/themes/classic/base/css/site.css" id="admui-siteStyle">

    <!-- 图标 CSS-->
    <link rel="stylesheet" href="https://g.omtech.cn/fonts/??font-awesome/admui/font-awesome.css,web-icons/admui/web-icons.css,omt-icons/v1.0.0/omt-icons.css">

    <!-- laydate插件：css -->
    <link rel="stylesheet" href="https://g.omtech.cn/laydate/v1.1/laydate.css">
    <link rel="stylesheet" href="https://g.omtech.cn/laydate/v1.1/laydate-custom.css">

    <!-- 树形控件：css -->
    <link rel="stylesheet" href="https://g.omtech.cn/ztree/v3.5.40/css/zTreeStyle/zTreeStyle.css">

    <!-- bt：js -->
    <script src="https://g.omtech.cn/??jquery/v1.12.3/jquery.js,bootstrap/admui/js/bootstrap.js"></script>

    <!-- 内页侧边栏：js -->
    <script src="https://g.omtech.cn/admui/v1.1.0/js/sidebar_menu.js"></script>

</head>

<body class="layout-full">

<div class="page animation-fade" style="height:100%;overflow:hidden;">
    <div class="page-aside">
        <div class="page-aside-switch">
            <i class="icon wb-chevron-left" aria-hidden="true"></i>
            <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner height-full" data-plugin="slimScroll">
            <ul id="JS_slidemenu_ztree" class="ztree"></ul>
        </div>
    </div>

    <div class="page-main" style="position:relative;height:100%;overflow:hidden;">
        <iframe id="JS_page_inner_iframe" src="" frameborder="0" style="height:100%;width:100%;" onload="afterLoadedClearLoading();"></iframe>

        <!-- loading 加载中效果 -->
        <div id="JS_page_inner_loading" class="vertical-align text-center" style="position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;background-color: rgb(241, 244, 245);">
            <div class="vertical-align-middle">
                <p><img class="width-50 height-50" src="https://g.omtech.cn/layer/v3.1.0/theme/retina/loading-1.svg"></p>
                <p><span>加载中,请稍候...</span></p>
            </div>
        </div>
    </div>

</div>

<!-- layer弹出插件：js -->
<script src="https://g.omtech.cn/layer/v3.1.0/layer.js"></script>

<!-- 侧边栏相关插件 -->
<!-- 滚动插件：js -->
<script src="https://g.omtech.cn/jquery.slimscroll/1.3.8/jquery.slimscroll.js"></script>

<!-- 树形控件：js -->
<script src="https://g.omtech.cn/ztree/v3.5.40/js/jquery.ztree.all.js"></script>

<script src="https://g.omtech.cn/admui/v1.1.0/themes/classic/base/js/app.js"></script>
<script src="https://g.omtech.cn/admui/v1.1.0/js/common.js"></script>

<script>
    $(function () {
        "use strict";

        // 侧边栏折叠
        App.run();

        var side_bar_menu = null;

        // 获取侧边栏数据
        getData({
            url: '/office/treeData',
            type: 'GET',
            data: {},
            successFun: function(data) {
                // 菜单单独设置的字体图标id，iconSkin的值
                var zNodes = data;
                // 菜单初始化
                side_bar_menu = new SideBarMenu(
                    // 菜单ID
                    "JS_slidemenu_ztree",
                    // 菜单数据
                    zNodes,
                    // zTree 的setting，部分setting已设置，设置自定义部分即可
                    {
                        data: {
                            simpleData: {
                                enable: true, // 使用 / 不使用 简单数据模式
                                idKey: "id", // 节点数据中保存唯一标识的属性名称
                                pIdKey: "parentId", // 节点数据中保存其父节点唯一标识的属性名称
                                rootPId: null, // 用于修正根节点父节点数据，即 pIdKey 指定的属性值
                            }
                        },
                        callback: {
                            beforeClick: function (treeId, treeNode, clickFlag) {
                                if(treeNode.isParent) {
                                    // 点击展开/收起菜单，父节点点击不能选中
                                    side_bar_menu.sideBarMenuZtreeObj.expandNode(treeNode);
                                    return true;
                                }else {
                                    return true;
                                }
                            }
                        }
                    }
                );
            }
        });
    });
</script>

</body>