<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tt.dao.OfficeDao">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="tt.pojo.Office">
                    <id column="id" property="id" />
                    <result column="parent_id" property="parentId" />
                    <result column="parent_ids" property="parentIds" />
                    <result column="name" property="name" />
                    <result column="sort" property="sort" />
                    <result column="code" property="code" />
                    <result column="type" property="type" />
                    <result column="grade" property="grade" />
                    <result column="address" property="address" />
                    <result column="zip_code" property="zipCode" />
                    <result column="master" property="master" />
                    <result column="phone" property="phone" />
                    <result column="fax" property="fax" />
                    <result column="email" property="email" />
                    <result column="USEABLE" property="useable" />
                    <result column="PRIMARY_PERSON" property="primaryPerson" />
                    <result column="DEPUTY_PERSON" property="deputyPerson" />
                    <result column="create_by" property="createBy" />
                    <result column="create_date" property="createDate" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_date" property="updateDate" />
                    <result column="remarks" property="remarks" />
                    <result column="del_flag" property="delFlag" />
                    <result column="leaf" property="leaf" />
                    <result column="leveltype" property="leveltype" />
                    <result column="sharepoolkey" property="sharepoolkey" />
                    <result column="sharepoolsecret" property="sharepoolsecret" />
                    <result column="dailyrecommendnum" property="dailyrecommendnum" />
                    <result column="recommendedNum" property="recommendedNum" />
                    <result column="copyfrom" property="copyfrom" />
                    <result column="watermark" property="watermark" />
                    <result column="appid" property="appid" />
                    <result column="tandemLevel" property="tandemLevel" />
                    <result column="uuid" property="uuid" />
        </resultMap>

</mapper>